body {
  background-color: #f9f9f9;
  font-family: verdana;
  color:#000000 ;
}
h1 {
  text-align: center;
}
.su{
  margin: 0 auto;
  display: table;
}
.si{
  margin: 0 auto;
  padding-left: 10px;
  display: table;
}

.user-su{
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}
.pass-su{
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}
.email-su{
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}
.submit-su{
  text-align: center;
  margin-bottom: 10px;
  margin-left: 315px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
.rad label {
  background-color: rgb(230, 227, 227) ;
  color: #000000;
  display: inline-block;
  border-radius: 7px;
  width: 200px;
  padding: 10px;
  border: solid 2px #0c0b0b;
  transition: all 0.3s;
}

.rad input[type="radio"] {
  display: none;
}

.rad input[type="radio"]:checked + label {
  color: white;
  background-color: #4CAF50;
}

.rad:hover {
cursor: pointer;
}
.user-si{
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}
.pass-si{
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}
.submit-si{
  display: block;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 220px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.vl {
  border-left: 1px solid #4CAF50;
  height: 500px;
  margin-left: 130px;
  display: flex; align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
