{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'index2.css' %}">
<body>
    <div style="display: grid;
    grid-template-columns: auto auto auto auto;">
        <div style="margin-top: 100px;">
            <h2 style="text-align: center; color: rgb(0, 0, 0)">Sign up</h2>
            <form class="su" action="{% url 'users:register' %}" method="post">
                {% csrf_token %}
                <div style="margin-left: 100px;">
                    <input class="user-su" type="text" name="username" placeholder="Username" required> <br />
                    <input class="pass-su" type="password" name="password" placeholder="Password" required> <br />
                    <input class="email-su" type="email" name="email" placeholder="Email" required> <br />
                </div>
                <h4 style="text-align: center; color: rgb(0, 0, 0)">Select Account type</h4>
                <div style="text-align: center; margin-bottom: 30px; color: rgb(5, 5, 5)" class="rad">
                    <input type="radio" name="is_developer" value="1" id="dev" required>
                        <label for="dev">Organizations</label>
                    <input type="radio" name="is_developer" value="0" id="con">
                        <label for="con">Contributors</label> <br/>
                </div>
                <input style="margin-left: 180px;   " class="submit-su" type="submit" value="Register">
            </form>
        </div>

        <div class="vl" ><h2 style="margin-left: -20px; display: block; background-color: #f9f9f9; color: #4CAF50;">OR</h2></div>

        <div style="margin-top: 100px;">
            <h2 style="text-align: center; color: rgb(0, 0, 0);">Sign in</h2>
            <form class="si" action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <p style="color: rgb(0, 0, 0); margin: 10px; font-size: 16px;">Username</p>
                <input class="user-si" type="text" name="username" placeholder="Username" required>
                <p style="color: rgb(0, 0, 0); margin: 10px; font-size: 16px;">Password</p>
                <input class="pass-si" type="password" name="password" placeholder="Password" required>
                {% if err %}
                    <p style="color: wheat; margin: 10px; font-size: 16px; text-align: center; font-weight: 600; " class="error-message">{{ err }}</p>
                {% endif %}
                <input class="submit-si" type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>