{% if projects %}
    <ul>
        {% for project in projects %}
            <li>
            <form action="{% url 'search:save_project' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="pid" value="{{ project.id }}">
                {{ project.proj_name }}<br>
                {{ project.proj_desc }}<br>
                {{ project.requirements }}<br>
                {{ project.proj_links }}
                <a href="mailto:{{ project.proj_id.email }}">Send email to the Author</a>
                <input type="submit" value="Save">
            </form>
            </li>
        {% endfor %}
    </ul>
{% elif usernames or usernames_by_skills %}
    <ul>
        {% for user in usernames %}
            <li>{{ user.username }}</li>
            <a href="mailto:{{ user.email }}">Send email</a>
        {% endfor %}
        {% for user in usernames_by_skills %}
            <li>{{ user.skill_id }}</li>
            <a href="mailto:{{ user.email }}">Send email</a>
        {% endfor %}
    </ul>
{% else %}
    <h1>No results</h1>
{% endif %}

<a href="{% url 'feed:dashboard' %}">Go Back</a>