html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #000000;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 5%; /* Use relative units for padding */
  width: 100%; /* Use relative units for width */
  height: 100%;
  background-color: #f9f9f9;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  display: block;
  margin: 0 auto 2.5%; /* Use relative units for margin */
  text-align: center;
  font-size: 2.5vw; /* Use relative units for font size */
  font-weight: 600;
  letter-spacing: -0.055em;
}

h2 {
  display: block;
  margin: 0 auto 6%; /* Use relative units for margin */
  text-align: center;
  font-weight: 400;
  font-size: 1.5vw; /* Use relative units for font size */
  letter-spacing: -0.015em;
}

/* Rest of your CSS styles */

  .logout-btn{
    
    background-color: #cec2c2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

.logout-btn:hover {
    background-color: #494848;
    color: #000000;
    cursor: pointer;
}
  
  .container {
    position: relative;
    margin: calc(75px + 2vh + 2vw) auto 0 auto;
    padding: 0;
    width: 100%;
    max-width: 840px;
  }
  .search-box {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 60px;
    border-radius: 120px;
    margin: 0 auto;

  }
  .search-icon, .go-icon {
    position: absolute;
    top: 0;
    height: 60px;
    width: 86px;
    line-height: 61px;
    text-align: center;
  }
  .search-icon {
    left: 0;
    pointer-events: none;
    font-size: 1.22em;
    will-change: transform;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  .si-rotate {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  .go-icon {
    right: 0;
    pointer-events: none;
    font-size: 1.38em;
    will-change: opacity;
    cursor: default;
    opacity: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  .search-border {
    display: block;
    width: 100%;
    max-width: 360px;
    height: 60px;
  }
  .border {
    fill: none;
    stroke: #030303;
    stroke-width: 5;
    stroke-miterlimit: 10;
  }
  .border {
    stroke-dasharray: 740;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  }
  .border-searching .border {
    stroke-dasharray: 740;
    stroke-dashoffset: 459;
    transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  }
  #search {
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 120px;
    border: none;
    background: rgba(255,255,255,0);
    padding: 0 68px 0 68px;
    color: #050505;
    font-size: 1.32em;
    font-weight: 400;
    letter-spacing: -0.015em;
    outline: none;
  }
  .btn{
    background-color: #9aa4a9;
    margin : 30px;
    padding: 300px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    height: 200px;
  }
  .btn:hover {
    background-color: #d5d3d3;
    color: #fefefe;
    cursor: pointer;
  }
  #search::-webkit-input-placeholder {color: #000000;}
  #search::-moz-placeholder {color: #080808;}
  #search:-ms-input-placeholder {color: #101010;}
  #search:-moz-placeholder {color: #010101;}
  #search::-moz-selection {color: #010101; background: rgba(0,0,0,0.25);}
  #search::selection {color: #060606; background: rgba(0,0,0,0.25);}
  
  

  