/* Apply styles to the unordered list */
ul {
    font-family: 'Montserrat Alternates', sans-serif;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style for list items */
li {
    font-family: 'Montserrat Alternates', sans-serif;

    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style for project name */
li h2 {
    font-family: 'Montserrat Alternates', sans-serif;

    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* Style for project description */
li p {
    font-family: 'Montserrat Alternates', sans-serif;

    font-size: 14px;
    margin: 5px 0;
}

/* Style for project requirements */
li .requirements {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

/* Style for project links */
li .proj_links {
    font-size: 14px;
    color: #0074cc;
    text-decoration: none;
}

/* Style for the "Go Back" link */
a {
    font-family: 'Montserrat Alternates', sans-serif;

    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #0074cc;
    text-decoration: none;
}
body{  background-color: #f9f9f9;
}