{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Your Project List</title>
    <link rel="stylesheet" href="{% static 'project_contribution2.css' %}">
</head>
<body>
    {% if not projs %}
        <h1>No results</h1>
    {% else %}
    <uL>
        {% for proj in projs %}
        <li>
            <form action="{% url 'feed:remove_proj' %}" method="post">
                <input type="hidden" value="{{ proj.id }}" name="pid">
                {% csrf_token %}
                <h2>{{ proj.proj_name }}</h2> <!-- Bold the project name -->
                {{ proj.proj_desc }}<br>
                {{ proj.requirements }}<br>
                <a class="proj_links" href="{{ proj.proj_links }}">{{ proj.proj_links }}</a> <!-- Apply the style for project links -->
                <button class="remove-button" >Remove</button> <!-- Apply the style for the button -->
            </form>
        </li>
        {% endfor %}
    {% endif %}
    </ul>
    <a href="{% url 'feed:dashboard' %}" class="x">Go Back</a>
</body>
</html>
