{% if data %}
    <ul>
    {% for datum in data %}
        <li>
            <form action="{% url 'feed:update_project' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ datum.id }}" name="pid">
                <label for="name">Project Name</label>
                <input type="text" name="name" value="{{ datum.proj_name }}" required>
                <label for="description">Description</label>
                <textarea name="description" required>{{ datum.proj_desc }}</textarea>
                <label for="requirements">Requirements</label>                    <textarea name="requirements" required>{{ datum.requirements }}</textarea>
                <label for="project_links">Links</label>
                <textarea name="project_links" required>{{ datum.proj_links }}</textarea>
                <input type="submit" value="Edit" class="button">
            </form>
            <form action="{% url 'feed:delete_project' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ datum.id }}" name="pid">
                <input type="submit" value="Delete" class="button">
            </form>

            <form action="{% url 'chat:discussion' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ datum.id }}" name="pid">
                <input type="submit" value="discussion">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h1>You have no projects</h1>
{% endif %}
<a href="{% url 'feed:dashboard' %}">Go Back</a>